/*
Stylesheet for HTML documents created with CKEditor.

This stylesheet must import editor_content.css file
*/
@import url(./editor_content.css);

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(themes/chamilo/fonts/OpenSans-Light.woff2) format('woff2'), url(themes/chamilo/fonts/OpenSans-Light.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(themes/chamilo/fonts/OpenSans.woff2) format('woff2'), url(themes/chamilo/fonts/OpenSans.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(themes/chamilo/fonts/OpenSans-Semibold.woff2) format('woff2'), url(themes/chamilo/fonts/OpenSans-Semibold.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(themes/chamilo/fonts/OpenSans-Bold.woff2) format('woff2'), url(themes/chamilo/fonts/OpenSans-Bold.woff) format('woff');
}
@font-face{
    font-family: 'Source Sans 3';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('themes/Meiser/fonts/WOFF2/TTF/SourceSans3-ExtraLight.ttf.woff2') format('woff2'),
         url('themes/Meiser/fonts/WOFF/OTF/SourceSans3-ExtraLight.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('themes/Meiser/fonts/WOFF2/TTF/SourceSans3-ExtraLightIt.ttf.woff2') format('woff2'),
         url('themes/Meiser/fonts/WOFF/OTF/SourceSans3-ExtraLightIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('themes/Meiser/fonts/WOFF2/TTF/SourceSans3-Light.ttf.woff2') format('woff2'),
         url('themes/Meiser/fonts/WOFF/OTF/SourceSans3-Light.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('themes/Meiser/fonts/WOFF2/TTF/SourceSans3-LightIt.ttf.woff2') format('woff2'),
         url('themes/Meiser/fonts/WOFF/OTF/SourceSans3-LightIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('themes/Meiser/fonts/WOFF2/TTF/SourceSans3-Regular.ttf.woff2') format('woff2'),
         url('themes/Meiser/fonts/WOFF/OTF/SourceSans3-Regular.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('themes/Meiser/fonts/WOFF2/TTF/SourceSans3-It.ttf.woff2') format('woff2'),
         url('themes/Meiser/fonts/WOFF/OTF/SourceSans3-It.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('themes/Meiser/fonts/WOFF2/TTF/SourceSans3-Semibold.ttf.woff2') format('woff2'),
         url('themes/Meiser/fonts/WOFF/OTF/SourceSans3-Semibold.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('themes/Meiser/fonts/WOFF2/TTF/SourceSans3-SemiboldIt.ttf.woff2') format('woff2'),
         url('themes/Meiser/fonts/WOFF/OTF/SourceSans3-SemiboldIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('themes/Meiser/fonts/WOFF2/TTF/SourceSans3-Bold.ttf.woff2') format('woff2'),
         url('themes/Meiser/fonts/WOFF/OTF/SourceSans3-Bold.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('themes/Meiser/fonts/WOFF2/TTF/SourceSans3-BoldIt.ttf.woff2') format('woff2'),
         url('themes/Meiser/fonts/WOFF/OTF/SourceSans3-BoldIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('themes/Meiser/fonts/WOFF2/TTF/SourceSans3-Black.ttf.woff2') format('woff2'),
         url('themes/Meiser/fonts/WOFF/OTF/SourceSans3-Black.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('themes/Meiser/fonts/WOFF2/TTF/SourceSans3-BlackIt.ttf.woff2') format('woff2'),
         url('themes/Meiser/fonts/WOFF/OTF/SourceSans3-BlackIt.otf.woff') format('woff');
}
  
body {
    color: #666;
    font-family: 'Source Sans 3', sans-serif;
    line-height: 30px;
    padding: 1em;
}

blockquote {
    background: #f9f9f9;
    border-left: 8px solid #ccc;
    display: inline-block;
    font: 14px/20px italic Times, serif;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}
